
name: Pipeline Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Compilar no Java
      run: mvn compile
    - name: Rodando programa
      run: java -cp target/classes org.example.Main
      
    - uses: mr-smithers-excellent/docker-build-push@v6
      name: Deploy docker image
        with:
          image: hsxflowers/maven_devops
          tags: 1.0, 1.1
          registry: docker.io
          dockerfile: dockerfile
          username: AINDANAOSEI
          password: 123
   
