name: Pipeline Maven

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Compilar no Java
        run: mvn compile
      - name: Rodando programa
        run: java -cp target/classes org.example.Main
      - name: Get branch name
        id: branch_name
        run: echo "::set-output name=name::$(echo ${GITHUB_REF#refs/heads/})"
      
      - name: Configure Docker credentials
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u hsxflowers --password-stdin docker.io
      
      - name: Read current version
        id: read_version
        run: echo "::set-output name=version::$(cat version.txt)"
        if: steps.branch_name.outputs.name == 'main'
      
      - name: Increment version
        id: increment_version
        run: echo "::set-output name=version::$(echo ${{ steps.read_version.outputs.version }} + 0.1 | bc)"
        if: steps.branch_name.outputs.name == 'main'
      
      - name: Write new version
        id: write_version
        run: echo "${{ steps.increment_version.outputs.version }}" > version.txt
        if: steps.branch_name.outputs.name == 'main'
      
      - name: Get Docker image version
        id: docker_version
        run: echo "::set-output name=version::$(cat version.txt)"
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./
          push: true
          tags: ${{ steps.docker_version.outputs.version }}

        
