name: Pipeline Maven

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Compilar no Java
        run: mvn compile
      - name: Rodando programa
        run: java -cp target/classes org.example.Main
      - name: Get branch name
        id: branch_name
        run: echo "::set-output name=name::$(echo ${GITHUB_REF#refs/heads/})"
      
      - name: Configure Docker credentials
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u hsxflowers --password-stdin docker.io
      
      - name: Get current version
        id: get_version
        run: echo "::set-output name=version::$(git tag -l --sort=v:refname | tail -1)"
      
      - name: Increment version
        id: increment_version
        run: echo "::set-output name=version::$(echo ${{ steps.get_version.outputs.version }} | semver -i minor)"
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./
          push: true
          tags: hsxflowers/maven_devops:${{ steps.increment_version.outputs.version }}

        
